{% extends "cadastro/base.html" %}

{% block content %}
    <h2>Lista funcionalidades para ser direcionado: </h2>
        <ul>
            <li><a href="admin/">Painel Admin</a></li>
            <li><a href="dados-upload/">Upload dados</a></li>
            <li><a href="/listar-mulheres-meeren/">Endpoint: listar mulheres de meeren</a></li>
            <li><a href="cadastro/m/">Endpoint: Para listar as pessoas ordenadas por idade e conforme sexo passado como paramentro F/M</a></li>
            <li><a href="swagger/">Documentação: Swagger</a></li>
            <li><a href="redoc/">Documentação: redoc</a></li>
        </ul>
    <th></th>
    <th></th>


{% endblock %}